.container{
  width: 80vw;
  margin: 0 auto;
  height: 100%;
}

.page{
  &__title{
    text-align: center;
    color: #fff;
    font-size: 5rem;
    font-weight: 200;
  }
}

.todo{
  width: 600px;
  background-color: #ffffff33;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  border-radius: 5px;

  &__header{
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-image: linear-gradient(-45deg, #ea75ea, #82c7c7);
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 5px;
    & h2{
      color: #fff;

    }
    &-add{
      position: relative;
    }
  }

  & input[type="text"]{
    width: 100%;
    padding: 1.6rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    // text-transform: uppercase;
    background-color: #ffffff33;
    transition: all .5s;

    &:focus{
      background-color: #fff;
    }
  }

  &__list{

    & li:nth-child(2n){
      background-color: #ffffff20;
    }

    &-item{
      margin-right: auto;
      position: relative;
      padding: 1.6rem;
      font-size: 1.6rem;
      text-align: left;
      display: flex;
      justify-content: space-between;
      overflow-wrap: break-word;
      transition: all .2s;
      &:hover &-edit{
        transform: translateX(1rem); 
        opacity: 1;
      }
      // Hover effect for underline span
      // &:hover 
      // &-underline::after{
      //   width: 50%;
      // }
      // &:hover 
      // &-underline::before{
      //   width: 50%;
      // }
      &:hover &-underline::after {
        transform: translateX(-50%) scaleX(1);
      }

      &-edit{
        width: auto;
        height: 100%;
        transform: translateX(2rem); 
        opacity: 0;
        transition: all .2s;
        margin-left: auto;
        padding-right: 1rem;

        & span {
          cursor: pointer;
        }
      }
// Added margin right to edit items here
      &-edit span:not(:last-child){
        margin-right: .5rem;
      }
// This is Item's bottom line animation on the Item hover
      // &-underline::before,
      // &-underline::after{
      //   content: '';
      //   position: absolute;
      //   background-color: #fff;
      //   bottom: 0;
      //   height: 1px;
      //   width: 0%;
      //   transition: all .2s ease-in-out;
      // }
      // &-underline::before{
      //   left: calc(50%);
      // }
      // &-underline::after{
      //   right: calc(50%);
      // }
// Another shorter way to create the same underline effect on Item Hover
        &-underline::after{
          content: '';
          position: absolute;
          background-color: #fff;
          bottom: 0;
          left: 50%;
          height: 1px;
          width: calc(100% - 6px);
          transform: translateX(-50%) scaleX(0);
          transition: all .2s ease-in-out;
        }
    }
  }
}