.container{
  width: 80vw;
  margin: 0 auto;
  height: 100vh;

}

.page{
  &__title{
    text-align: center;
    color: #fff;
    margin-top: 10%;
    font-size: 5rem;
    font-weight: 200;
  }
}

.todo{
  width: 600px;
  background-color: #ffffff33;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  border-radius: 5px;

  &__header{
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-image: linear-gradient(-45deg, #ea75ea, #82c7c7);
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 5px;
    & h2{
      color: #fff;

    }
    &-add{
      position: relative;
    }
  }

  & input[type="text"]{
    width: 100%;
    padding: 1.6rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    // text-transform: uppercase;
  }

  &__list{

    &-item{
      padding: 1.6rem;
      font-size: 1.6rem;
      text-align: left;
      display: flex;
      justify-content: space-between;
      transition: all .2s;
      &:hover &-edit{
        transform: translateX(1rem); 
        opacity: 1;
      }

      &-text{
        width: 85%;
      }

      &-edit{
        width: 15%;
        height: 100%;
        transform: translateX(2rem); 
        opacity: 0;
        transition: all .2s;

        & span {
          cursor: pointer;
        }
      }

      &-edit span:not(:last-child){
        margin-right: .5rem;
      }
    }
  }
}