*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  color: #333; }

body {
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(-45deg, rgba(185, 0, 185, 0.5), rgba(0, 175, 175, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1; }

h1, h2, h3, h4, h5 {
  font-weight: 200; }

ul {
  list-style: none; }

a,
a:visited,
a:active {
  text-decoration: none; }

#pulse,
#pulse2,
#pulse3 {
  position: absolute;
  border-radius: 50%; }

#pulse2 {
  top: -1.3rem;
  left: -1.3rem;
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(#ffffff20, #0000ff20);
  animation: radius 2s cubic-bezier(1, 0.37, 0.28, 1.23) 2; }

.container {
  width: 80vw;
  margin: 0 auto;
  height: 100%; }

.page__title {
  text-align: center;
  color: #fff;
  font-size: 5rem;
  font-weight: 200; }

.todo {
  width: 600px;
  background-color: #ffffff33;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  border-radius: 5px; }
  .todo__header {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-image: linear-gradient(-45deg, #ea75ea, #82c7c7);
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 5px; }
    .todo__header h2 {
      color: #fff; }
    .todo__header-add {
      position: relative; }
  .todo input[type="text"] {
    width: 100%;
    padding: 1.6rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    background-color: #ffffff33;
    transition: all .5s; }
    .todo input[type="text"]:focus {
      background-color: #fff; }
  .todo__list li:nth-child(2n) {
    background-color: #ffffff20; }
  .todo__list-item {
    margin-right: auto;
    position: relative;
    padding: 1.6rem;
    font-size: 1.6rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
    transition: all .2s; }
    .todo__list-item:hover .todo__list-item-edit {
      transform: translateX(1rem);
      opacity: 1; }
    .todo__list-item:hover .todo__list-item-underline::after {
      transform: translateX(-50%) scaleX(1); }
    .todo__list-item-edit {
      width: auto;
      height: 100%;
      transform: translateX(2rem);
      opacity: 0;
      transition: all .2s;
      margin-left: auto;
      padding-right: 1rem; }
      .todo__list-item-edit span {
        cursor: pointer; }
    .todo__list-item-edit span:not(:last-child) {
      margin-right: .5rem; }
    .todo__list-item-underline::after {
      content: '';
      position: absolute;
      background-color: #fff;
      bottom: 0;
      left: 50%;
      height: 1px;
      width: calc(100% - 6px);
      transform: translateX(-50%) scaleX(0);
      transition: all .2s ease-in-out; }

@keyframes pulse {
  0% {
    transform: scale(1.5);
    opacity: 1; }
  20% {
    transform: scale(1);
    opacity: .8; }
  30% {
    transform: scale(1.6); }
  40% {
    transform: scale(1);
    opacity: .6; }
  100% {
    transform: scale(5);
    opacity: 0; } }

@keyframes radius {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(5);
    opacity: 0; } }

.completed {
  color: gray;
  text-decoration: line-through; }
